build
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/CMakeCache.txt
build/compile_commands.json
build/ESP32_Water_Tank_Level.bin
build/ESP32_Water_Tank_Level.elf
build/ESP32_Water_Tank_Level.map
build/ldgen_libraries
build/ldgen_libraries.in
build/project_description.json
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/git-data/grabRef.cmake
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/bootloader/.ninja_log
build/bootloader/build.ninja
build/esp-idf/cmake_install.cmake
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/main/libmain.a
build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
